<!--
  Generated template for the CommunityDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="community-notice">
    <ion-list>
      <ion-item text-wrap no-padding>
        <div class="community-title-wrapper">
          <div class="community-category">[{{post.categoryName}}]</div>
          <div class="community-title">{{post.title.rendered}}</div>
          <div class="community-author">{{post.author}} {{post.date}}</div>
        </div>
      </ion-item>
      <ion-item text-wrap no-padding>
        <div class="community-content" [innerHtml]="post.content.rendered"></div>
        <div class="like-btn" no-padding>
          <button ion-button clear *ngIf="likebtn" (click)="doLike()" item-right class="wishlist2" >
              <ion-icon name="thumbs-up"></ion-icon> 좋아요 {{post.like}}
            </button> <button ion-button clear *ngIf="!likebtn" (click)="doLike()" item-right class="wishlist1" > 
              <ion-icon name="thumbs-up"></ion-icon> 좋아요 {{post.like}}
            </button>
       </div>
      </ion-item>
  <ion-item no-padding>
    <div class="community-comment-title">
      댓글 {{post.commentSize}}
    </div>
  </ion-item>
  <div class="comment-box">
  <ion-item *ngFor="let reply of post.comments" no-padding>
    <div class="comment-wrapper">
      <div class="comment-auther">{{reply.name}}</div>
      <div class="comment-content">{{reply.memo}}</div>
      <div class="comment-date">{{reply.date}} <span *ngIf="reply.isMine" (click)="removeComment(reply._id)" style="text-decoration: underline;">  댓글삭제</span></div>
    </div>
  </ion-item>
  </div>
  
</ion-list>
</ion-content>
<ion-footer no-shadow>
<ion-row class="comment-write-box">
  <ion-col col-10>
    <ion-textarea [(ngModel)]="comment" rows="1" type="text" placeholder="댓글을 남겨보세요" autosize></ion-textarea>
  </ion-col>
  <ion-col col-2 no-shadow class="comment-submit-box">
      <button class="comment-submit" ion-button full no-padding no-margin (click)="writeComment()" autosize>등록</button>
  </ion-col>
</ion-row>
  
</ion-footer>