ion-tabs{
    top : 0px;
}

.label-md{
    margin : 0px;
}

.item-md.item-block .item-inner{
    padding-right: 0px;
}
.post-author{
    float : left;
    padding-right : 5px;
}

.post-date{
    float : left;
}

[col-3]{
    padding : 0px;
}

.post-commentbox{
    background-color: #f0f0f0;
}