ion-header{
    ion-title{
        color:white;
        .toolbar-title-md{
            color: white;
        }
    }
    &.header{
        height: $toolbar-height;
        background: color($colors, primary);

        .toolbar{
            min-height: $toolbar-height;
            
            .toolbar-background{
                background: color($colors, primary);
            }
            .back-button{
                //color: white;
                padding-left: 14px;
                background-color: #e83d4d;
            }
            .bar-button{
                color: color($colors, light);
            }
        }
        .toolbar-md{
            border-bottom: 1px solid lightgrey;
        }
    }
    .point_box{
        width : 80px;
        height: 20px;
        background: transparent;
        text-align: right;
        .point{
            color: color($colors, light);
            font-weight: 700;
            font-size: 12px;
        }
    }
        
}




.label-md{
    margin : 0px;
    padding : 6px;
}

.item-md.item-block .item-inner{
    padding-right: 0px;
}



.post-title{
    color:black !important;
    font-weight: 500 !important;
    padding : 5px 0px 5px 0px;
}

.post-notice-title{
    color:black !important;
    font-weight: 600 !important;
    padding : 5px 0px 5px 0px;
}
.post-author{
    float : left;
    padding-right : 10px;
    font-size:14px !important;
}
.post-date{
    float : left;
    padding-right : 10px;
    font-size:14px !important;
}
.post-comment{
    float: left;
    color : #f53d3d;
    padding-right: 10px;
    font-size:14px !important;
}


[col-3]{
    padding : 0px;
}

.post-commentbox{
    background-color: #f0f0f0;
}


.community-slider {
    height: auto;
}
  
.swiper-pagination {
   bottom: 0px;
}