<ion-header>
  <ion-navbar>
    
  <button ion-button menuToggle color="grapefruit">
    <ion-icon name="md-menu"></ion-icon>
  </button>
  <ion-title color="white">
      <img src="assets/img/logo-main.png" srcset="assets/img/logo-main@2x.png 2x,assets/img/logo-main@3x.png 3x" height=30>
  </ion-title>
  <ion-buttons end style="padding-right:11px">
    <button class="point_box" (click)="showPointDetail()">
        <small class="point">{{values.point | number: '1.0-0'}}</small>
        <img src="assets/img/action-b-point-icon.png"srcset="assets/img/action-b-point-icon@2x.png 2x,assets/img/action-b-point-icon@3x.png 3x" height=12>
    </button>
</ion-buttons>
  </ion-navbar>
</ion-header>


   
<ion-content>
    <ion-segment mode="md" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="main">
        최신글
      </ion-segment-button>
      <ion-segment-button value="clinic">
        부부클리닉
      </ion-segment-button>
      <ion-segment-button value="usedmarket">
        중고장터
      </ion-segment-button>
      <ion-segment-button value="boast">
        자랑거리
      </ion-segment-button>
    </ion-segment>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <ion-slides class="community-slider" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
        <ion-slide *ngFor="let slide of slides">
            <ion-list>
                <ion-item  text-wrap *ngFor="let post of noticeposts" no-padding>
                    <ion-row no-padding>
                      <ion-col (click)="getNoticeConent(post.id, post.title.rendered)">
                        <p class="post-notice-title" [innerHTML]="post.title.rendered"></p>
                        <p class="post-author">{{post.author}}</p>
                        <ion-icon name="ios-text" class="post-comment"> {{post.replies}}</ion-icon>
                        <ion-icon name="thumbs-up" class="post-comment"> 0</ion-icon>
                      </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item *ngFor="let post of posts" no-padding>
                  <ion-row no-padding>
                    <ion-col (click)="getPostConent(post._id, post.category)">
                      <p class="post-title">{{post.title}}</p>
                      <p *ngIf="categoryId == 0 && post.category == 1" class="post-author">[부부클리닉]</p>
                      <p *ngIf="categoryId == 0 && post.category == 2" class="post-author">[중고장터]</p>
                      <p *ngIf="categoryId == 0 && post.category == 3" class="post-author">[자랑거리]</p>
                      <p class="post-author">{{post.writer}}</p>
                      <p class="post-date">{{post.date}}</p>
                      <ion-icon name="ios-text" class="post-comment"> {{post.commentsCnt}}</ion-icon>
                      <ion-icon name="thumbs-up" class="post-comment"> {{post.like}}</ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
        </ion-slide>
    </ion-slides>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="morePagesAvailable">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="더 많은 게시글을 로딩 중입니다."> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>

<ion-footer no-shadow>
    <ion-toolbar position="bottom">
      <button ion-button full no-padding no-margin (click)="doWrite()">글 쓰 기</button>
    </ion-toolbar>
</ion-footer>
