<ion-header>
    <ion-navbar color="header">
      <button ion-button menuToggle>
        <ion-icon name="menu">
        </ion-icon>
      </button>
      <ion-title text-center>장바구니
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="cart">
      <ion-spinner *ngIf="!cart" name="crescent"> </ion-spinner>
      <div *ngIf="cart">
          <div class="empty" *ngIf="cart.cart_contents.length == 0"> <img src="assets/img/empty-cart.jpg">
              <h4 color="side-heading-color" text-center no-lines>장바구니가 비어 있습니다.</h4>
              <h5 text-center no-lines></h5> <button ion-button class="butt" item-center medium color="button-color" text-uppercase (click)="gohome()">쇼핑 계속하기</button> </div>

          <div *ngIf="cart?.cart_contents">
              <div class="cart-items">
                  <div class="cart-list" *ngFor="let item of cart.cart_contents | keys">
                        <ion-item no-lines>
                          <ion-thumbnail item-left (click)="getProduct(item.value.product_id)"> <img src="{{item.value.thumb}}"> </ion-thumbnail>
                          <h2 class="item-name" style="position: absolute;top: 15px;width:200px">{{item.value.name}}</h2>
                          <!--<h3 wrap-text style="position: absolute; margin-top: -17px;">{{item.value.price | currency:values.currency:true:'1.2-2'}}</h3>-->
                          <h3 wrap-text style="position: absolute;right: 10px;bottom: 20px;font-size:  14px"><span style="font-size: 14px">{{(1*item.value.line_subtotal | currency:values.currency:false:'1.0-0').replace('USD','')}}원</span></h3>
                          <div class="add-remove-button"> <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear (click)="deleteFromCart(item.value.product_id, item.key)">
                                <ion-icon name="md-remove">
                                </ion-icon>
                            </button> <button ion-button item-right color="button-color" clear style="border: 0; margin: 0 5px;background: #f2f2f2;color: #000;">{{item.value.quantity}}
                            </button> <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear (click)="addToCart(item.value.product_id, item.key)">
                                <ion-icon name="md-add">
                                </ion-icon>
                            </button> </div> <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear (click)="delete( item.key )" style="position: absolute;top: 10px;right: 10px;color: #a5a5a5;">
                                <ion-icon name="md-close">
                                </ion-icon>
                            </button> 
                        </ion-item>
                  </div>
              </div>
              <div *ngIf="cart.cart_contents.length != 0" class="coupon-offers">
                  <ion-item no-lines (click)="enableCouponOffer()" [ngClass]="{activeCoupon1: enableCoupon}" class="coupon-header">
                      <ion-icon name="ios-pricetag-outline" item-left></ion-icon>
                      <h6 *ngIf="cart.cart_totals.discount_total == 0">포인트 사용</h6>
                      <h6 *ngIf="cart.cart_totals.discount_total != 0">포인트 {{cart.applied_coupons}} 사용</h6>
                  </ion-item>
                  <div *ngIf="enableCoupon">
                      <form #f="ngForm" class="coupon">
                          <ion-item>
                              사용가능 포인트 : {{values.point | number: '1.0-0'}}
                          </ion-item>
                          <ion-item class="orderer-check-row">
                                <ion-checkbox checked="true" (click)="allpoint()" [disabled]='disableSubmitCoupon' [(ngModel)]="allpointchk" name="orderchk"> </ion-checkbox>
                                <ion-label>포인트 모두 사용하기</ion-label>
                          </ion-item>
                          <ion-item [ngClass]="{activeCoupon2: enableCoupon}">
                              <ion-input type="text" placeholder="사용 포인트" [(ngModel)]="cart.coupon" [disabled]='disableSubmitCoupon' name="coupon"> </ion-input>
                              <h2 item-right> <button ion-button color="button-color" block type="submit" text-uppercase (click)="submitCoupon()"> {{Apply}}
                </button> </h2>
                          </ion-item>
                      </form>
                  </div>
              </div>
              <div *ngIf="cart.cart_contents.length != 0" style="margin: 4px 2px 0 2px;">
                  <ion-list class="totals">
                      <ion-row>
                          <ion-col width-75>
                              <ion-label>합계 </ion-label>
                          </ion-col>
                          <ion-col width-25 text-right>
                              <ion-label>{{(1*cart.cart_totals.subtotal | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                          </ion-col>
                      </ion-row>
                      <ion-row *ngIf="cart.cart_totals.subtotal_tax != 0">
                          <ion-col width-75>
                              <ion-label>SubTotal Tax </ion-label>
                          </ion-col>
                          <ion-col width-25 text-right>
                              <ion-label>{{(1*cart.cart_totals.subtotal_tax | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                          </ion-col>
                      </ion-row>
                      <ion-row *ngIf="disableSubmitCoupon && cart.coupon && cart.coupon != 0">
                            <ion-col width-75 class="remove-coupon">
                                <ion-label>포인트 </ion-label>
                            </ion-col>
                            <ion-col width-25 text-right>
                                <ion-label>- {{(1*cart.coupon | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                            </ion-col>
                        </ion-row>
                      <ion-row *ngIf="cart.cart_totals.shipping_total != 0">
                          <ion-col width-75>
                              <ion-label>배송비 </ion-label>
                          </ion-col>
                          <ion-col width-25 text-right>
                              <ion-label>{{(1*cart.cart_totals.shipping_total | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                          </ion-col>
                      </ion-row>
                      <ion-row *ngIf="cart.cart_totals.discount_total && cart.cart_totals.discount_total != 0">
                            <ion-col width-75 class="remove-coupon">
                                <ion-label>Coupons - {{cart.applied_coupons}} <a (click)="removeCoupon()"> (Remove)
                    </a> </ion-label>
                            </ion-col>
                            <ion-col width-25 text-right>
                                <ion-label>- {{(1*cart.cart_totals.discount_total | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                            </ion-col>
                        </ion-row>
                      <ion-row *ngIf="cart.cart_totals.shipping_tax != 0">
                          <ion-col width-75>
                              <ion-label>Shipping Tax </ion-label>
                          </ion-col>
                          <ion-col width-25 text-right>
                              <ion-label>{{(1*cart.cart_totals.shipping_tax | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                          </ion-col>
                      </ion-row>
                      <ion-row *ngIf="cart.cart_totals.total_tax != 0">
                          <ion-col width-75>
                              <ion-label>Total Tax </ion-label>
                          </ion-col>
                          <ion-col width-25 text-right>
                              <ion-label>{{(1*cart.cart_totals.total_tax | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col width-75>
                              <ion-label> <b> 총 합계
                  </b> </ion-label>
                          </ion-col>
                          <ion-col width-25 text-right>
                              <ion-label style="font-weight: 600;font-size: 17px">{{(1*cart.cart_totals.total | currency:values.currency:false:'1.0-0').replace('USD','')}}원</ion-label>
                          </ion-col>
                      </ion-row>
                  </ion-list>
              </div>
          </div>
      </div>
  </ion-content>
  <div *ngIf="cart">
      <ion-footer class="cart-footer" *ngIf="cart.cart_contents.length != 0">
          <ion-row>
              <!--<ion-col class="col1">
                  <div class="you-pay">
                      <h3 *ngIf="cart?.cart_totals.discount_total && cart.cart_totals.discount_total != 0">Save: {{(1*cart.cart_totals.discount_total ).replace('USD','')}}원</h3>
                      <h2>결제 금액: {{(1*cart?.cart_totals.total | currency:values.currency:false:'1.0-0').replace('USD','')}}원</h2>
                  </div>
              </ion-col>-->
              <ion-col class="col2">
                  <div class="checkout-button"> <button ion-button full color="button-color" no-padding no-margin text-uppercase [disabled]='disableSubmit' (click)="checkout()"> 구매하기 <ion-icon name="ios-arrow-forward"></ion-icon>
      </button> </div>
              </ion-col>
          </ion-row>
      </ion-footer>
  </div>