page-community-write {

}


.community_submit{
    color : white;
}

.community-content-item{
    padding-left: 0px;
}

.community-textarea{
    height : 100%;
}

.community-textarea{
    textarea.text-input{
        height : 250px;
    }
}
