page-community-write {

}


.community_submit{
    color : white;
}

.community-content-item{
    padding-left: 0px;
}

.community-textarea{
    height : 100%;
}

.community-textarea{
    textarea.text-input{
        height : 250px;
    }
}

.image-box{
    padding-top: 10px;
    font-size : 12px;
    .image-text{
        padding-bottom: 5px;
    }
    .image-btn{
        width : 65px;
        height : 65px;
    }
}