page-community-write {

}


.community_submit{
    color : #8c8c8c;
}

.community-content-item{
    padding-left: 0px;
}

.community-textarea{
    height : 100%;
}

textarea.text-input{
    height : 500px;
}