.product-image{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.anounce_rows{
    border-bottom: 0.5px solid #f2f2f2;
}


.segment {
    border-bottom: 1px solid #f2f2f2;
    .segment .segment-button.segment-activated {
        color: color($colors, primary); //background-color: #25242c;
        border-radius: 0;
        height: 40px; //border: 1px solid #d0d0d0;
        border: 0;
        font-weight: 600;
        border-bottom: 2px solid color($colors, primary);
    }
    .segment .segment-button {
        border: 0;
        color: color($colors, warm-grey);
        height: 40px;
        background-color: transparent;
        font-size: 16px;
        border: 0;
    }
    .label-md {
        padding : 0px;
        text-transform: capitalize;
    }
    .label {
        font-size: 13px;
        span {
            font-size: 14px;
        }
    }
}

.list-ios > .item-block:first-child{
    border-top: 0px;
}

.event-box{
    .event-company{
        font-size: 14px;
        color: #616161;
    }
    .event-title{
        margin-top: 7px;
    }
    .event-content{
        font-family: notosansbold;
        font-weight: 700;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .event-date{
        color:#6e6e6e;
    }
}