<ion-header no-border class="billing-header" [ngClass]="{'active-content' : enableLogin}">
    <ion-navbar color="header" hideBackButton="enableBillingAddress"> <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
        <div>
            <ion-title text-wrap text-center>주문결제</ion-title>
        </div>
    </ion-navbar>
</ion-header>
<ion-content text-wrap class="billing-address-form" [ngClass]="{'active-content' : enableLogin, 'inactive' : !enableLogin}">

        <div style="margin:0 5px">

            <ion-item class="order-review-header" no-lines>
                <ion-label color="side-heading-color">상품정보</ion-label>
            </ion-item>
            <hr style="margin: 3px;height:1px;background-color: rgba(0, 0, 0, 0.06);" *ngIf="OrderReview?.shipping && enableShippingMethods">

            <div *ngIf="OrderReview?.cart && enableShippingMethods">
                <div class="cart-items">
                    <div class="cart-list" *ngFor="let item of OrderReview.cart.cart_contents | keys">
                            <ion-item no-lines>
                                <ion-thumbnail item-left> <img src="{{item.value.thumb}}"> </ion-thumbnail>
                                <h2 wrap-text class="item-name" style="position: absolute;top: 15px;max-width: 50%;">{{item.value.name}}</h2>
                                <h3 wrap-text style="position: absolute;right: 10px;bottom: 20px;font-size:  14px"><span style="font-size: 14px">{{(1*item.value.line_subtotal | currency:values.currency:false:'1.0-0').replace('USD','')}}원</span></h3>
                                <div class="add-remove-button">
                                  <button ion-button item-right color="button-color" clear style="border: 0; margin: 0 5px;background: #f2f2f2;color: #000;">{{item.value.quantity}}
                                  </button> 
                                </div> 
                            </ion-item>
                    </div>
                </div>
                <ion-row>
                        <ion-col col-8 class="col1">
                            <ion-label no-margin>상품 합계</ion-label>
                        </ion-col>
                        <ion-col col-4 text-right>
                            <ion-label no-margin>{{(1*OrderReview.totals.subtotal  | currency:values.currency:false:'1.0-0').replace('USD','')}} 원</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="OrderReview.totals.shipping_total != 0">
                        <ion-col col-8 class="col1">
                            <ion-label>배송비 </ion-label>
                        </ion-col>
                        <ion-col col-4 text-right>
                            <ion-label>{{(1*OrderReview.totals.shipping_total | currency:values.currency:false:'1.0-0').replace('USD','')}} 원</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row class="grand-total">
                        <ion-col col-8>
                            <ion-label no-margin> <b>총 합계
                      </b> </ion-label>
                        </ion-col>
                        <ion-col col-4 text-right>
                            <ion-label no-margin style="font-size:16px"> <b>{{(1*OrderReview.totals.total  | currency:values.currency:false:'1.0-0').replace('USD','')}} 원
                      </b> </ion-label>
                        </ion-col>
                </ion-row>
            </div>

            <hr style="margin: 10px 8px 12px;height:1px;background-color: rgba(0, 0, 0, 0.06);"> </div>

            
    <div *ngIf="form">
        <form #f="ngForm" class="form">

            <ion-list no-margin class="Address-form" *ngIf="enableBillingAddress"> 
                    <ion-item class="order-review-header" no-lines>
                            <ion-label color="side-heading-color">주문자 정보</ion-label>
                        </ion-item>
                        <hr style="margin: 10px 8px 12px;height:1px;background-color: rgba(0, 0, 0, 0.06);">


                <ion-label *ngIf="enableBillingAddress">주문자 성함 </ion-label>
                <ion-input required type="text" [(ngModel)]="form.billing_first_name" name="firstname" *ngIf="enableBillingAddress"> </ion-input>
                <ion-label *ngIf="enableBillingAddress">주문자 휴대폰번호 </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="number" [(ngModel)]="form.billing_phone" name="telephone"> </ion-input>


                <ion-item class="order-review-header" no-lines>
                        <ion-label color="side-heading-color">받으시는 분 정보</ion-label>
                </ion-item>
                <hr style="margin: 10px 8px 12px;height:1px;background-color: rgba(0, 0, 0, 0.06);">
                <ion-label *ngIf="enableBillingAddress">수령자명</ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="text" [(ngModel)]="form.billing_last_name" name="lastname"> </ion-input>
                <ion-label *ngIf="enableBillingAddress">수령자 휴대폰번호 </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="number" [(ngModel)]="form.billing_phone" name="telephone"> </ion-input>
                <ion-label *ngIf="enableBillingAddress">배송주소 </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="text" [(ngModel)]="form.billing_address_1" name="street1"> </ion-input>
                <ion-label *ngIf="enableBillingAddress">상세주소 </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="text" [(ngModel)]="form.billing_address_2" name="street2"> </ion-input>
                <button>주소검색</button>
                <ion-label *ngIf="enableBillingAddress">우편번호 </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="text" [(ngModel)]="form.billing_postcode" name="postcode" (ngModelChange)="updateOrderReview()"> </ion-input>
                <ion-label *ngIf="enableBillingAddress">배송시 요청사항 </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="text" [(ngModel)]="form.billing_email" name="email"> </ion-input>
                <div *ngIf="!values.isLoggedIn && enableBillingAddress">
                    <ion-label>Password </ion-label>
                    <ion-input required type="password" [(ngModel)]="form.password" name="password"> </ion-input>
                </div>
                <ion-label *ngIf="enableBillingAddress">City </ion-label>
                <ion-input *ngIf="enableBillingAddress" required type="text" [(ngModel)]="form.billing_city" name="city" (ngModelChange)="updateOrderReview()"> </ion-input>
        
                <!--<ion-row *ngIf="enableBillingAddress">
                    <ion-col *ngIf="values.isLoggedIn"> <button ion-button outline type="submit" class="button button-block button-default" (click)="backToAddressPage()">취소</button> </ion-col>
                    <ion-col *ngIf="values.isLoggedIn"> <button ion-button outline type="submit" class="button button-block button-default" (click)="searchAddres()">우편번호</button> </ion-col>
                    <ion-col *ngIf="values.isLoggedIn"> <button ion-button outline style="float: right" type="submit" class="button button-block button-default" (click)="showShippingForm()">저장</button> </ion-col>
                    <ion-col *ngIf="!values.isLoggedIn"> <button ion-button outline style="float: right" type="submit" class="button button-block button-default" (click)="showShippingForm()">다음</button> </ion-col>
                </ion-row> <br>-->
            </ion-list>
            <div class="Address-form" *ngIf="enableShippingForm">
                <ion-list class="shipping-address-list">
                    <ion-item class="billing-header" no-lines *ngIf="enableShippingForm">
                        <ion-label color="side-heading-color">Shipping Address </ion-label>
                    </ion-item>
                    <ion-label *ngIf="enableShippingForm">First Name </ion-label>
                    <ion-input *ngIf="enableShippingForm" required type="text" [(ngModel)]="form.shipping_first_name" name="first_name"> </ion-input>
                    <ion-label *ngIf="enableShippingForm">Last Name </ion-label>
                    <ion-input *ngIf="enableShippingForm" required type="text" [(ngModel)]="form.shipping_last_name" name="last_name"> </ion-input>
                    <ion-label *ngIf="enableShippingForm">Address </ion-label>
                    <ion-input *ngIf="enableShippingForm" required type="text" [(ngModel)]="form.shipping_address_1" name="address_1"> </ion-input>
                    <ion-label *ngIf="enableShippingForm">Landmark </ion-label>
                    <ion-input *ngIf="enableShippingForm" required type="text" [(ngModel)]="form.shipping_address_2" name="address_2"> </ion-input>
                    <ion-label *ngIf="enableShippingForm">City </ion-label>
                    <ion-input *ngIf="enableShippingForm" required type="text" [(ngModel)]="form.shipping_city" name="shipping_city" (ngModelChange)="updateOrderReview()"> </ion-input>
                    <ion-label *ngIf="enableShippingForm">Postcode </ion-label>
                    <ion-input *ngIf="enableShippingForm" required type="text" [(ngModel)]="form.shipping_postcode" name="shipping_postcode" (ngModelChange)="updateOrderReview()"> </ion-input>
                    
                    <div *ngIf="!states && enableShippingForm">
                        <ion-label>{{form.checkout_fields?.shipping?.shipping_state?.label}} </ion-label>
                        <ion-input required type="text" [(ngModel)]="form.shipping_state" name="form.shipping_state" (ngModelChange)="updateOrderReview()"> </ion-input>
                    </div>
                </ion-list>
                <ion-row style="margin-top:16px" *ngIf="enableShippingForm">
                    <ion-col *ngIf="!values.isLoggedIn"> <button ion-button type="submit" outline class="button button-block button-default" (click)="backToBillingForm()">뒤로
           </button> </ion-col>
                    <ion-col *ngIf="values.isLoggedIn"> <button ion-button type="submit" outline class="button button-block button-default" (click)="backToAddressPage()">취소
           </button> </ion-col>
                    <ion-col *ngIf="!values.isLoggedIn"> <button ion-button style="float: right" outline type="submit" class="button button-block button-default" (click)="showShippingMethods()">다음
           </button> </ion-col>
                    <ion-col *ngIf="values.isLoggedIn"> <button ion-button style="float: right" outline type="submit" class="button button-block button-default" (click)="showShippingMethods()">저장
           </button> </ion-col>
                </ion-row> <br> </div>
        </form>
    </div>
   
    <!--  -->
    <div *ngIf="enablePaymentMethods" class="payment-methods">
        <ion-item class="payment-method-header" no-lines>
            <ion-label>결제 방법 선택</ion-label>
        </ion-item>
        <div *ngIf="form.payment">
            <ion-list no-margin text-wrap radio-group [(ngModel)]="form.payment_method" (ngModelChange)="changePayment()">
                <ion-item *ngFor="let method of form.payment | keys">
                    <ion-label class="payment-method-title">{{method.value.title}} </ion-label>
                    <ion-radio value="{{method.value.id}}"> </ion-radio>
                </ion-item>
            </ion-list>
            <div *ngIf="form.payment_method != 'stripe'" class="side-heading-background">
                <ion-label class="payment-instructions">{{form.payment_instructions}} </ion-label>
                <ion-row class="check-box-bottom" style="margin-top:0" *ngIf="form.show_terms">
              <ion-col no-lines class="col1">
                  <ion-checkbox checked="true" [(ngModel)]="form.terms" name="terms"> </ion-checkbox>
              </ion-col>
              <ion-col class="col2">
                  <ion-label>I Agree <a  (click)="terms()"> 위 구매조건 확인 및 결제진행 동의</a> </ion-label>
              </ion-col>
            </ion-row>
                <div class="button-margin"> <button ion-button color="button-color" text-uppercase [disabled]="buttonSubmit" block secondary type="submit" class="button button-block button-default" (click)="checkout()">결제하기
        </button> </div>
            </div>
        </div>
        <div *ngIf="form.payment_method =='stripe'" class="side-heading-background stripe-payment">
            <ion-label [innerHTML]="form.payment.stripe.description"> </ion-label>
            <form #f="ngForm" class="stripe-payment">
                <ion-item no-lines style="margin-bottom: 5px;">
                    <ion-label color="side-heading-color">Stripe Card Details </ion-label>
                </ion-item>
                <div class="Address-form">
                    <ion-label>Card Number </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.stripe_number" name="stripe_number" placeholder="Card number"> </ion-input>
                    <ion-label>Expiry Month </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.stripe_exp_month" name="stripe_exp_year" placeholder="Expiry month"> </ion-input>
                    <ion-label>Expiry Year </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.stripe_exp_year" name="stripe_exp_year" placeholder="Expiry year"> </ion-input>
                    <ion-label>Card Code </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.stripe_code" name="stripe_code" placeholder="CVV"> </ion-input>
                </div>
            </form>
            <ion-row class="check-box-bottom" style="margin-top:0" *ngIf="form.show_terms">
              <ion-col no-lines class="col1">
                  <ion-checkbox checked="true" [(ngModel)]="form.terms" name="terms"> </ion-checkbox>
              </ion-col>
              <ion-col class="col2">
                  <ion-label>I Agree <a  (click)="terms()">Terms & Conditions</a> </ion-label>
              </ion-col>
            </ion-row>
            <div class="button-margin"> <button ion-button color="button-color" text-uppercase *ngIf="form.payment_method =='stripe'" [disabled]="buttonSubmit" (click)="checkout()" block secondary type="submit" class="button button-block button-default">PlaceOrder
      </button> </div>
        </div> <br> </div>
</ion-content>