<ion-header>

        <ion-navbar>
            <ion-title color="grapefruit">
                미즈톡 회원가입
            </ion-title>
        </ion-navbar>
      
</ion-header>


<ion-content class="account-register">
    <div>
        <form #f="ngForm" class="login">
            <ion-list>
                <!--<ion-row>
                    <ion-col>
                        <ion-label fixed>닉네임</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input required type="text" [(ngModel)]="registerData.first_name" name="firstname"> </ion-input>
                    </ion-col>
                    <ion-col>
                        <button ion-button block type="submit" outline text-uppercase (click)="nickChk()">닉네임 중복체크</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-label fixed>전화번호</ion-label>
                    <ion-input required type="number" [(ngModel)]="registerData.billing.phone" name="billing_phone"> </ion-input>
                </ion-row>-->
                <ion-row class="orderer-row">
                        <ion-label col-3>닉네임</ion-label>
                        <ion-input required type="text" [(ngModel)]="registerData.display_name" (ionChange)="nickChange()" name="firstname" > </ion-input>
                        <button col-2 ion-button block type="submit" outline text-uppercase (click)="nickChk()">중복확인</button>
                </ion-row>
                <ion-row class="orderer-row">
                        <ion-label col-3>휴대폰 번호 </ion-label>
                        <ion-input required [disabled]="isVerify" [(ngModel)]="registerData.phone1" type="number" name="telephone"> </ion-input>
                        <button col-4 ion-button block type="submit" [disabled]="isVerify" outline text-uppercase (click)="receiveOtpSms()">인증번호 전송</button>
                </ion-row>
                <ion-row class="orderer-row" *ngIf="sendSms">
                  <ion-label col-3>인증번호</ion-label>
                  <ion-input required [(ngModel)]="verifyCode" type="number" name="verify"> </ion-input>
                  <button col-2 ion-button block type="submit" outline text-uppercase (click)="verifyOtpSms()">인증확인</button>
                </ion-row>

                <div class="term-box">
                    <h4><ion-checkbox checked="true" class="term-chk" [(ngModel)]="termsChk" name="orderchk"> </ion-checkbox>미즈톡 이용약관에 동의 합니다.<a (click)="termsUse()">[약관확인]</a></h4>
                    <h4><ion-checkbox checked="true" class="term-chk" [(ngModel)]="termsInfoChk" name="orderchk"> </ion-checkbox>미즈톡 개인정보처리 방침에 동의 합니다.<a (click)="terms()">[약관확인]</a></h4>
                    <h4><ion-checkbox checked="true" class="term-chk" [(ngModel)]="marketChk" name="orderchk"> </ion-checkbox>마케팅 이용정보 활용에 동의합니다.</h4>
                </div>
            </ion-list>
            <div *ngIf="errors" class="margin-error-message">
                <h3>{{errors.message}} </h3>
            </div> <br> 
            <div class="submit-btn">
                <button ion-button block type="submit" outline text-uppercase [disabled]="disableSubmit" (click)="registerCustomer()">가입하기</button>
            </div>
         </form>
    </div>
    <!--div>
        <ion-row class="login-div">
            <ion-col class="col1"> <button ion-button outline type="submit" outline full text-uppercase [disabled]="disableSubmit" (click)="facebookLogin()">Facebook</button> </ion-col>
            <ion-col class="col2"> <button ion-button outline type="submit" outline full text-uppercase [disabled]="disableSubmit" (click)="gmailLogin()"> Google</button> </ion-col>
        </ion-row>
    </div-->
</ion-content>
