<ion-header>
    <ion-navbar>
      
    <button ion-button menuToggle color="grapefruit">
      <ion-icon name="md-menu"></ion-icon>
    </button>

    <ion-title>
      <img src="assets/img/logo.png" height=40>
    </ion-title>
        <ion-buttons end padding>
            <small class="point">{{values.point | number: '1.0-0'}}</small>
            <img src="assets/img/drawable-xxxhdpi/action_b_point_icon.png" height=10>
        </ion-buttons>
    </ion-navbar>
</ion-header>



<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      
      <ion-list>
          <ion-item class="product-list animated fadeInUp" [ngClass]="{'list-view': layout && layout=='list'}" >
            <ul>
              <li class="list-item" *ngFor="let item of posts" (click)="getPostConent(item.id, item.title.rendered)">
                <div class="product-image" [ngStyle]="{'background-image': 'url(' + item.thumnail + ')', 'background-size':'cover'}">
                </div>
                <h6>{{item.title.rendered}}</h6>
                <small class="category-name">{{item.categoryName}}</small>
              </li>
            </ul>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="morePagesAvailable">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="더 많은 카드뉴스를 로딩 중입니다."> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>