// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import "../assets/css/animate.min";
@import "../theme/icons";



* {
    font-family: 'notosansregular';
}


h1 {
    font-size: 24px;
    line-height: 1;
}

h2 {
    font-size: 20px;
    line-height: 1.8;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 17px;
    line-height: 1.2;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 10px;
}


small {
    font-size: 10px;
    line-height: 1.8;
}





.red {
    color: color($colors, grapefruit);
}

/*****************************
   Header
*****************************/

ion-header{
    &.header{
        height: $toolbar-height;
        background: white;

        .toolbar{
            min-height: $toolbar-height;
            
            .toolbar-background{
                background: white;
            }
            .back-button{
                color: white;
                padding-left: 14px;
            }
            .bar-button{
                color: color($colors, primary);
            }
        }
        .toolbar-md{
            border-bottom: 1px solid lightgrey;
        }
    }

    &.header-md::after{
        display: none;
    }

    ion-title{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
    }
    

    .button-cart{
        margin-left: 6px;
        margin-right: 16px;
    }
}

ion-label{
  white-space: normal;
}

ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}

textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}


/*****************************
   Product List
*****************************/

.badge {
    position: absolute;
    top: -8%;
    right: 4%;
    right: calc(10% - 5px);
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background-color: #e83d4d;
    border-radius: 100%;
}

.product-list {
    // position: relative;
   
    .category-title {
        position: absolute;
        top: 0px;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        h3 {
            margin-bottom: 0px;
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    
    .list-item {
        
        width: calc(50% - 20px);
        float: left;
        margin: 10px;
        transition: all 0.3s ease-in;
        h5 {
            font-family: 'notosansregular';
            text-transform: capitalize;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 8px;
        }
        .product-image {
            background-size: cover !important;
            background-repeat: no-repeat;
            background-position: center;
            width:100%;
            height:160px;
        }
        .category-name {
            color: color($colors, warm-grey);
            display: block;
            line-height: 1;
        }
        .price {
            font-family: 'notesansbold';
        }
    }
    &.list-view {
        .list-item {
            width: calc(100% - 30px);
            position: relative;
            h5,
            small {
                text-align: left;
            }
            h5{
                width: 80%;
            }
            .product-image {
                height: 250px;
            }
            .price {
                float: right;
                margin-top: -37px;
                font-size: 13px;
            }
        }
    }
}

.alert-md{
    .alert-radio-label{
        text-overflow: ellipsis;
        white-space: normal;
        font-size: 13px;
    }
    .alert-checkbox-label{
        text-overflow: ellipsis;
        white-space: normal;
        font-size: 13px;
    }
}
