.ios-cart{
    font-size: 24px;
    margin-right: 10px;
}
.md-search{
    font-size: 24px;
    margin-right: 10px;
}
.home-banners ion-slides{
    height: 100px;
}
.categories{
    padding-bottom: 6px;
    border-bottom: 1px solid #dcdddd;
}
.shop-category{
    color:#6e6e6e;
    font-size: 12px;
}
.shop-category-icon{
    padding-bottom: 10px;
    font-size: 28px;
}