<ion-header>
  <ion-navbar>
    
  <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
  
  <ion-title>
      <img src="assets/img/logo-main.png" srcset="assets/img/logo-main@2x.png 2x,assets/img/logo-main@3x.png 3x" height=30>
  </ion-title>


  <ion-buttons  style="padding-right:11px" end *ngIf="!showFilters && !showSortFilters"> 
    <button ion-button icon-only (click)="getSearch()" style="color:#fff;margin-left:6px;margin-right:6px;">
          <ion-icon ios="md-search" md="md-search" style="font-size:30px;"></ion-icon>
    </button>

    <button ion-button icon-only light class="has-icon icon-only has-badge" (click)="getCart()">
      <ion-icon class="ion-md-cart item-icon"></ion-icon>
      <ion-badge class="badge badge-light"  *ngIf="values.count">{{values.count}}
      </ion-badge>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>
   
  <ion-content class="products" #contentRef (ionScroll)="scrollingFun($event)">

          <ion-spinner *ngIf="!clayfulProducts && !values.related" name="crescent"> </ion-spinner>
          <ion-spinner *ngIf="loading" name="crescent"> </ion-spinner>

          <div *ngIf="values?.mainad && values.mainad.length" class="home-banners">
              <ion-slides pager="false" loop="true" autoplay="5800">
                  <ion-slide *ngFor='let value of values.mainad' (click)="getBannerConent(value.type, value.link)"> <img src="{{value.src}}"> </ion-slide>
              </ion-slides>
          </div>

          <div>
            <ion-row class="category-listing">
              <ion-col class="col-3 category-title" (click)="goCategory('baby', '육아·생활')">
                  <img src="assets/img/sh-ct-baby.png" class="category-icon">
                  <div class="category-text">
                    육아·생활
                  </div>
              </ion-col>
              <ion-col class="col-3 category-title" (click)="goCategory('kitchin', '주방·가전')">
                  <img src="assets/img/sp-ct-living.png" class="category-icon">
                  <div class="category-text">
                  주방·가전
                  </div>
              </ion-col>
              <ion-col class="col-3 category-title" (click)="goCategory('beauty', '뷰티·다이어트')">
                  <img src="assets/img/Sp_CT_Beuty.png" class="category-icon">
                  <div class="category-text">
                  뷰티·다이어트
                  </div>
              </ion-col>
              <ion-col class="col-3 category-title" (click)="goCategory('food', '식품')">
                  <img src="assets/img/sp-ct-food.png"  class="category-icon">
                  <div class="category-text">
                  식품
                  </div>
              </ion-col>
            </ion-row>
          </div>


          <ion-refresher (ionRefresh)="doRefresh($event)">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>

            
            <ion-fab right bottom>
                    <button (click)="scrollToTop()" class="topicon" ion-fab mini><img src="assets/img/top-arrow-icon.png" class="Top_arrow_Icon" floating/></button>
            </ion-fab>

          <div *ngIf="clayfulProducts" class="products-listing">
            <div *ngIf="!clayfulProducts.length && !loading" class="no-products">
                <h2>상품이 없습니다.</h2>
            </div>
            <div *ngIf="clayfulProducts.length && !loading">  
                <div *ngIf="!values.listview">
                    <div class="grid">
                        <ion-row class="row unlimited-items">
                            <ion-col class="col" *ngFor="let item of clayfulProducts">
                                <ion-card>
                                    <ion-card-content class="stock"> <img tappable src="{{item.thumbnail.url}}" (click)="getProduct(item._id)" [ngClass]="{opacity: !item.in_stock}">
                                        <div *ngIf="!item.variants.length"> <button ion-button color="danger" *ngIf="!item.variants[0].quantity==0">일시 품절</button> </div>
                                        <ion-icon name="md-heart" class="wishlist-button-grid1" *ngIf="values.wishlistId[item._id]" (click)="removeFromWishlist(item._id)"></ion-icon>
                                        <ion-icon name="md-heart-outline" class="wishlist-button-grid2" *ngIf="!values.wishlistId[item._id]" (click)="addToWishlist(item._id)"></ion-icon>
                                    </ion-card-content>
                                    <div tappable (click)="getProduct(item._id)" class="card-name">
                                        <ion-label *ngIf="item.title">{{item.title}} </ion-label>
                                        <ion-label *ngIf="item.name">{{item.name}} </ion-label>
                                    </div>
                                    <ion-label style="margin-bottom:2px;margin-left: 4px;"> 
                                      <span class="price-offer" *ngIf="item.price.sale.raw && ((item.price.original.raw - item.price.sale.raw) / item.price.original.raw*100) >= '1'">{{(item.price.original.raw - item.price.sale.raw) / item.price.original.raw*100 | number : '1.0-0'}}%</span>
                                      <span class="price-regular" *ngIf="!item.price.sale.raw">{{(1*item.price.original.raw | number:'1.0-0')}}</span><span class="price-won" *ngIf="!item.price.sale.raw">원</span>
                                      <span class="price-regular" *ngIf="item.price.sale.raw">{{(1*item.price.sale.raw | number:'1.0-0')}}</span><span class="price-won" *ngIf="item.price.sale.raw">원</span>
                                      <span class="price-delete" *ngIf="item.price.sale.raw"><del>{{(1*item.price.original.raw | number:'1.0-0')}}원</del></span>
                                    </ion-label>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </div><br> </div>
            </div>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
                <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="더 많은 상품을 불러오는 중입니다."> </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>


  </ion-content>