<ion-header no-border>
    <ion-navbar color="header" hideBackButton> <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
        <ion-title text-wrap text-center>주문서</ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-wrap class="order-summary">
    <ion-spinner *ngIf="!orderSummary" name="crescent"> </ion-spinner>
    <div *ngIf="orderSummary" class="margin">
        <div class="thank-you-message">
            <ion-item>
                <h2>주문이 접수되었습니다.</h2>
                <h3>감사합니다. 주문이 잘 접수되었습니다.</h3>
            </ion-item>
        </div>
        <div *ngIf="orderSummary" class="summary">
            <ion-item no-lines>
                <h2>주문날짜 : {{orderSummary.createdAt.formatted}} </h2>
                <h2>합계  : {{1*orderSummary.total.price.sale.raw | number:'1.0-0'}} 원 </h2>
                <div *ngFor="let transtion of orderSummary.transactions">
                    <h2 *ngIf="transtion.vbanks?.length">가상입금계좌은행  : {{transtion.vbanks[0].name}}</h2>
                    <h2 *ngIf="transtion.vbanks?.length">입금계좌 : {{transtion.vbanks[0].number}} </h2>
                    <h2 *ngIf="transtion.vbanks?.length">예금주 : {{transtion.vbanks[0].holder}} </h2>
                </div>
            </ion-item>
        </div>
        <div class="order-details">
            <ion-item no-lines>
                <ion-label class="side-header">주문 삼품</ion-label>
            </ion-item>
            <div *ngFor="let item of orderSummary.items">
                <ion-row>
                    <ion-col width-75>
                        <ion-label no-margin>{{item.product.name}} - {{item.quantity.raw}}개</ion-label>
                    </ion-col>
                </ion-row>
            </div>
            <!--<ion-row *ngIf="!orderSummary.shipping_tax == 0">
                <ion-col width-75>
                    <ion-label no-margin>Shipping  Tax  </ion-label>
                </ion-col>
                <ion-col width-25 text-right>
                    <ion-label no-margin>{{1*orderSummary.shipping_tax | currency:values.currency:symbol:'1.2-2' }} </ion-label>
                </ion-col>
            </ion-row>-->
            <!--<ion-row>
                <ion-col width-75>
                    <ion-label no-margin>Total  Tax  </ion-label>
                </ion-col>
                <ion-col width-25 text-right>
                    <ion-label no-margin>{{1*orderSummary.total_tax | currency:values.currency:symbol:'1.2-2' }} </ion-label>
                </ion-col>
            </ion-row>-->
            <ion-row class="order-total">
                <ion-col width-75>
                    <ion-label class="side-header">총합 </ion-label>
                </ion-col>
                <ion-col width-25 text-right>
                    <ion-label> <b>합계  : {{1*orderSummary.total.price.sale.raw | number:'1.0-0'}} 원
              </b> </ion-label>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="orderSummary"> <button ion-button full color="button-color" no-padding no-margin text-uppercase (click)="Continue()">
    돌아가기 
  </button> </ion-footer>
