<ion-header>
    <ion-navbar color="header">

            <ion-title>
                    <img src="assets/img/logo-main.png" srcset="assets/img/logo-main@2x.png 2x,assets/img/logo-main@3x.png 3x" height=30>
                </ion-title>
                
      <ion-buttons style="padding-right:11px" end>
        <button ion-button icon-only light class="has-icon icon-only has-badge" (click)="getCart()">
          <ion-icon class="ion-md-cart item-icon"></ion-icon>
          <ion-badge class="badge badge-light" *ngIf="values.count">{{values.count}}
          </ion-badge>
        </button>
      </ion-buttons>
    </ion-navbar>



    <div class="segment" *ngIf="product">
            <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule($event)">
                <ion-segment-button tappable value="overview">
                    <ion-label text-uppercase>상세정보</ion-label>
                </ion-segment-button>
                <!--<ion-segment-button tappable value="related">
                    <ion-label text-uppercase>Related </ion-label>
                </ion-segment-button>-->
                <ion-segment-button tappable value="shipping">
                        <ion-label text-uppercase>배송정보</ion-label>
                </ion-segment-button>
                <ion-segment-button tappable value="reviews">
                    <ion-label text-uppercase>구매후기</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
        
</ion-header>


  <ion-content class="product-page">

    <ion-spinner *ngIf="!product" name="crescent"> </ion-spinner>
    
    <div *ngIf="showOverview">
        <div *ngIf="product" class="product-details">
            <div *ngIf="product.images">
                <ion-slides #slides pager="true" loop="true" autoplay="5800">
                    <ion-slide *ngFor="let item of product.images"> <img src="{{item.src}}" (click)="zoomPhoto(item.src)"> </ion-slide>
                </ion-slides>
                
            </div>
            <div class="body-index">
                <h2 class="product-name"> {{product.name}} </h2>
                <ion-item class="price-label" no-lines>
                    <span class="offer-price" *ngIf="((product.regular_price - product.sale_price) /product.regular_price*100) >= '1'">{{(product.regular_price - product.sale_price) /product.regular_price*100 | number : '1.0-0'}}%</span>
                    <span class="price-regular" *ngIf="!product.sale_price">{{(product.price  | currency:values.currency:false:'1.0-0').replace('USD','')}} </span>
                    <span class="price-regular" *ngIf="product.sale_price">{{(product.sale_price  | currency:values.currency:false:'1.0-0').replace('USD','')}}</span><span class="price-won" *ngIf="product.sale_price">원</span>
                    <span class="price-delete" *ngIf="product.sale_price"><del>{{(product.regular_price  | currency:values.currency:false:'1.0-0').replace('USD','')}}원</del></span>
                </ion-item>
                <!--<div (click)="showMoreReviews()"> <button ion-button icon-only small class="rating-button-grid1" style="height:20px">
        <ion-icon name="md-star"><span class="rating-count">{{product.average_rating | number:'1.1-1'}}</span></ion-icon> 
      </button> <span style="color: #777;">{{product.rating_count}} ratings</span> </div>-->
                <!--<h2 style="font-size: 14px;margin: 10px 16px 8px;color:#333;" *ngIf="product.total_sales != 0">{{product.total_sales}} items sold</h2>-->
                <ion-grid class="rating-and-total-sales-grid">
                    <ion-row>
                        <!--<ion-col> <button class="share" ion-button color="button-color" (click)="addToCart(product.id)">
              <ion-icon name="ios-share-alt"></ion-icon> 장바구니
            </button> </ion-col>-->

                        <!--ion-col>
            <button class="share" ion-button color="button-color" (click)="similar()">
              <ion-icon name="ios-browsers"></ion-icon> Similar
            </button>
          </ion-col-->
                        <ion-col> <button ion-button clear *ngIf="values.wishlistId[product.id]" (click)="removeFromWishlist(product.id)" item-right class="wishlist1" color="danger">
              <ion-icon name="ios-heart"></ion-icon> 찜삭제
            </button> <button ion-button clear *ngIf="!values.wishlistId[product.id]" (click)="addToWishlist(product.id)" item-right class="wishlist2" color="danger"> 
              <ion-icon name="ios-heart"></ion-icon> 찜하기
            </button> </ion-col>
                    </ion-row>
                </ion-grid>
                <!--variation product starts-->
                <!--<div *ngIf="product?.attributes.length" class="description">
                    <ion-item no-lines class="item-background" (click)="showSpecs()" *ngIf="!showSpecification"> Specifications
                        <ion-icon item-right name="ios-arrow-down"></ion-icon>
                    </ion-item>
                    <ion-item no-lines class="item-background" (click)="showSpecs()" *ngIf="showSpecification"> Specifications
                        <ion-icon item-right name="ios-arrow-up"></ion-icon>
                    </ion-item>
                    <ion-item text-wrap no-lines *ngIf="showSpecification">
                        <div *ngFor="let attribute of product.attributes">
                            <h3 class="sold-by">{{attribute.name}} - <span [innerHTML]="attribute.options[0]"></span></h3>
                        </div>
                    </ion-item> <br> </div>-->
                <div *ngIf="product.description || product.short_description" class="description">
                    <div *ngIf="product.short_description" class="description">
                        <!--ion-item no-lines class="item-background"> Description </ion-item-->
                        <ion-item text-wrap no-lines>
                            <div [innerHTML]="product.short_description"> </div>
                        </ion-item>
                    </div>
                    <div class="description">
                        <ion-item text-wrap no-lines>
                            <div [innerHTML]="product.description"> </div>
                        </ion-item>
                    </div>
                    <div *ngIf="product.description && !product.short_description" class="description">
                        <ion-item text-wrap no-lines>
                            <div [innerHTML]="product.description"> </div>
                        </ion-item>
                    </div>
                    <ion-item no-lines class="show-more" *ngIf="!moreDescription && product.short_description">
                        <h2 (click)="showMore()"><span class="span1">더 보기</span></h2>
                    </ion-item>
                    <div class="copyright">
                        <div class="contact"><img src="assets/img/forma-1.png" class="Forma-1"> 010 - 2380 - 2040</div>
                    브이티커머스  |  대표 : 유우상  |  개인정보관리책임자 : 이윤선<br>
                    통신판매업신고번호 : 제2018-서울 송파-0977호<br>
                    사업자등록번호 : 299-11-00891<br>
                    서울특별시 송파구 백제고분로7길 42-29,405호(잠실동)<br><br>
                    ※ 제품의 주문, 배송 환불의 의무와 책임은<br>
                    브이티커머스에 있습니다.<br>
                    담당자 이윤선 010-2380-2040<br><br>
                    COPYRIGHT 브이티커머스 ALL RIGHTSRESERVED.
                    </div> <br><br>
                 </div>
                 
            </div>
        </div>
    </div>
    <div *ngIf="showShipping">
        <img class="shipping-img" src="assets/img/shipping-info.jpg">
    </div>
    <div *ngIf="showRelated">
        <div *ngIf="related?.length">
            <ion-item *ngIf="related" style="background-color:#f5f5f5"> <b>Related Products</b> </ion-item>
            <div class="grid">
                <ion-row class="row unlimited-items">
                    <ion-col class="col" *ngFor="let item of related">
                        <ion-card>
                            <ion-card-content (click)="getRelatedProduct(item.id)"> <img src="{{item.image_thumb}}" />
                                <div *ngIf="item.stock_status == 'instock' && item.sale_price && ((item.regular_price - item.sale_price) / item.regular_price*100) >= '1'" class="offer-tag"> <button ion-button small text-wrap>
                  <span text-wrap>{{(item.regular_price - item.sale_price) / item.regular_price*100 | number : '1.0-0'}}%</span></button> </div>
                            </ion-card-content>
                            <h5 text-center>{{item.name}}</h5>
                            <ion-label> <span class="price-regular" *ngIf="!item.sale_price">{{(1*item.price  | currency:values.currency:false:'1.0-0').replace('USD','')}
              </span> <span class="price-regular" *ngIf="item.sale_price">{{(1*item.sale_price  | currency:values.currency:false:'1.0-0').replace('USD','')}
              </span> <span *ngIf="item.sale_price" style="margin-left:6px">
              <del>{{(1*item.regular_price  | currency:values.currency:false:'1.0-0').replace('USD','')}}
              </del>
              </span> </ion-label>
                            <h3 style="margin:4px 8px 6px 8px;font-size:12px;"> <span class="related-rating related-review-star">
               <span class="star-icon" [ngClass]="{full: item.average_rating >= 1, half: item.average_rating == 0.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 2, half: item.average_rating == 1.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 3, half: item.average_rating == 2.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 4, half: item.average_rating == 3.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 5, half: item.average_rating == 4.5}">&#x2605;</span> </span>
                            </h3>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div *ngIf="upsell?.length">
            <ion-item *ngIf="upsell" no-lines style="background-color:#f5f5f5"> <b>You may also like</b> </ion-item>
            <div class="grid">
                <ion-row class="row unlimited-items">
                    <ion-col class="col" *ngFor="let item of upsell">
                        <ion-card>
                            <ion-card-content (click)="getRelatedProduct(item.id)"> <img src="{{item.image_thumb}}" />
                                <div *ngIf="item.stock_status == 'instock' && item.sale_price && ((item.regular_price - item.sale_price) / item.regular_price*100) >= '1'" class="offer-tag"> <button ion-button small>
                  <span text-wrap>{{(item.regular_price - item.sale_price) / item.regular_price*100 | number : '1.0-0'}}%</span></button> </div>
                            </ion-card-content>
                            <h5 text-center>{{item.name}}</h5>
                            <ion-label> <span class="price-regular" *ngIf="!item.sale_price">{{(1*item.price  | currency:values.currency:false:'1.0-0').replace('USD','')}}
              </span> <span class="price-regular" *ngIf="item.sale_price">{{(1*item.sale_price | currency:values.currency:false:'1.0-0').replace('USD','')}}
              </span> <span *ngIf="item.sale_price" style="margin-left:6px">
              <del>{{(1*item.regular_price | currency:values.currency:false:'1.0-0').replace('USD','')}}
              </del>
              </span> </ion-label>
                            <h3 style="margin:4px 8px 6px 8px;font-size:12px;"> <span class="related-rating related-review-star">
               <span class="star-icon" [ngClass]="{full: item.average_rating >= 1, half: item.average_rating == 0.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 2, half: item.average_rating == 1.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 3, half: item.average_rating == 2.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 4, half: item.average_rating == 3.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 5, half: item.average_rating == 4.5}">&#x2605;</span> </span>
                            </h3>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div *ngIf="crossSell?.length">
            <ion-item *ngIf="crossSell" no-lines style="background-color:#f5f5f5"> <b>Recommended for you</b> </ion-item>
            <div class="grid">
                <ion-row class="row unlimited-items">
                    <ion-col class="col" *ngFor="let item of crossSell">
                        <ion-card>
                            <ion-card-content (click)="getRelatedProduct(item.id)"> <img src="{{item.image_thumb}}" />
                                <div *ngIf="item.stock_status == 'instock' && item.sale_price && ((item.regular_price - item.sale_price) / item.regular_price*100) >= '1'" class="offer-tag"> <button ion-button small>
                  <span text-wrap>{{(item.regular_price - item.sale_price) / item.regular_price*100 | number : '1.0-0'}}%</span></button> </div>
                            </ion-card-content>
                            <h5 text-center>{{item.name}}</h5>
                            <ion-label> <span class="price-regular" *ngIf="!item.sale_price">{{(1*item.price | currency:values.currency:false:'1.0-0').replace('USD','')}}
                </span> <span class="price-regular" *ngIf="item.sale_price">{{(1*item.sale_price | currency:values.currency:false:'1.0-0').replace('USD','')}}
                </span> <span *ngIf="item.sale_price" style="margin-right:6px">
                <del>{{(1*item.regular_price | currency:values.currency:false:'1.0-0').replace('USD','')}{}
                </del>
                </span> </ion-label>
                            <h3 style="margin:4px 8px 6px 8px;font-size:12px;"> <span class="related-rating related-review-star">
                 <span class="star-icon" [ngClass]="{full: item.average_rating >= 1, half: item.average_rating == 0.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 2, half: item.average_rating == 1.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 3, half: item.average_rating == 2.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 4, half: item.average_rating == 3.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.average_rating >= 5, half: item.average_rating == 4.5}">&#x2605;</span> </span>
                            </h3>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
    <div *ngIf="showReviews" class="show-reviews">
        <div *ngIf="reviews">
            <ion-card>
                <ion-card-header style="background-color: #f5f5f5" tappable (click)="showSubmitReview()"> 리뷰를 남겨보세요
                    <ion-icon *ngIf="!showAddReview" style="float: right" name="ios-arrow-down" item-right></ion-icon>
                    <ion-icon *ngIf="showAddReview" style="float: right" name="ios-arrow-up" item-right></ion-icon>
                </ion-card-header>
                <ion-card-content>
                    <div class="new-review" *ngIf="showAddReview">
                        <ion-label style="margin: 10px 0 6px 18px; font-size:13px">{{form.name}} <span style="margin-right: 10px">별점</span> <span class="rating review-star" style="float:none;">
              <span tappable (click)="yourRating(1)" class="star-icon" [ngClass]="{full: form.rating >= 1, half: form.rating == 0.5}">&#x2605;</span> <span tappable (click)="yourRating(2)" class="star-icon" [ngClass]="{full: form.rating >= 2, half: form.rating == 1.5}">&#x2605;</span> <span tappable (click)="yourRating(3)" class="star-icon" [ngClass]="{full: form.rating >= 3, half: form.rating == 2.5}">&#x2605;</span> <span tappable (click)="yourRating(4)" class="star-icon" [ngClass]="{full: form.rating >= 4, half: form.rating == 3.5}">&#x2605;</span> <span tappable (click)="yourRating(5)" class="star-icon" [ngClass]="{full: form.rating >= 5, half: form.rating == 4.5}">&#x2605;</span> </span>
                        </ion-label>
                        <div class="comment-form">
                            <form #f="ngForm">
                                <ion-list>
                                    <ion-item *ngIf="!values.isLoggedIn">
                                        <ion-input required type="text" [(ngModel)]="form.author" name="name" placeholder="이름"> </ion-input>
                                    </ion-item>
                                    <ion-item *ngIf="!values.isLoggedIn">
                                        <ion-input required type="email" [(ngModel)]="form.email" name="email" placeholder="이메일"> </ion-input>
                                    </ion-item>
                                    <ion-item class="comment-area"> <textarea rows="2" style="width: 100%; border: none;" required type="text" [(ngModel)]="form.comment" name="comment" placeholder="리뷰 남기기">
                  </textarea> </ion-item>
                                </ion-list>
                                <div class="image-box">
                                        <div class="image-text">
                                                이미지 등록 (이미지 등록은 최대 3장까지 가능합니다)
                                                </div>
                                        <ion-row>
                                          <ion-col col-3 style="padding-left: 5px" *ngFor="let item of fileimgs">
                                              <img src="{{item}}" width="60">
                                          </ion-col>
                                          <ion-col col-3>
                                                <button class="image-btn" ion-button color="primary" (click)="getImage()" outline>
                                                        <ion-icon name="add"></ion-icon>
                                                </button>
                                                
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                    <div class="login-button"> <button style="margin: 16px 16px 0 16px;width: calc(100% - 32px);" ion-button block color="button-color" type="submit" text-uppercase [disabled]="buttonSubmitLogin" (click)="submitComment()">등록</button> </div>
                            </form>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <ion-card *ngIf="reviews.length">
                <ion-card-header style="background-color: #f5f5f5;margin-top: 10px;"> 리뷰 </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let item of reviews" class="reviews">
                        <ion-item no-lines>
                            <h3 style="margin-bottom:6px;font-size:15px">{{item.writer}}  <span *ngIf="item.isMine" (click)="removeComment(item._id)" style="text-decoration: underline;font-size:12px">  댓글삭제</span> <span class="rating review-star">
                <span class="star-icon" [ngClass]="{full: item.rating >= 1, half: item.rating == 0.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 2, half: item.rating == 1.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 3, half: item.rating == 2.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 4, half: item.rating == 3.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 5, half: item.rating == 4.5}">&#x2605;</span> </span>
                            </h3>
                            <h3 style="color:#9e9898;margin-bottom:4px;font-size: 13px">{{item.date}}</h3>
                        </ion-item>
                        <ion-row>
                            <ion-col *ngFor="let img of item.image">
                                <img src="{{img}}"/>
                            </ion-col>
                        </ion-row>
                        <p text-wrap>{{item.contents}}</p>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div> <br>
  </ion-content>

  <ion-footer *ngIf="segment == 'overview'" no-shadow no-padding>
      <div *ngIf="showOption" class="option-box">
            <div class="option-close">
                    <ion-icon class="close-btn" name="md-close" (click)="closeOption()"></ion-icon>
            </div>
        <ion-row>
            <ion-col>
                <div *ngIf="variations?.length" class="variation-product">
                        <div *ngIf="product.attributes.length == 1">
                            <ion-item>
                                <ion-label> 옵션선택 </ion-label>
                                <ion-select okText="확인" cancelText="취소" [(ngModel)]="options[0]" (ngModelChange)="chooseOption()">
                                    <div *ngFor="let option of variations">
                                        <div *ngIf="option.attributes.length == 1">
                                            <ion-option value="{{'variation_id:' + option.id + ':variation[attribute_pa_'+ option.attributes[0].name +']:' + option.attributes[0].option}}">{{option.attributes[0].option | uppercase}} - {{(option.price | currency:values.currency:false:'1.0-0').replace('USD','')}} </ion-option>
                                        </div>
                                        <div *ngIf="option.attributes.length == 2">
                                            <ion-option value="{{'variation_id:' + option.id + ':variation[attribute_pa_'+ option.attributes[0].name +']:' + option.attributes[0].option + ':variation[attribute_pa_'+ option.attributes[1].name +']:' + option.attributes[1].option}}">{{option.attributes[0].option | uppercase}} - {{option.attributes[1].option | uppercase}} - {{(option.price | currency:values.currency:false:'1.0-0').replace('USD','')}} </ion-option>
                                        </div>
                                        <div *ngIf="option.attributes.length == 3">
                                            <ion-option value="{{'variation_id:' + option.id + ':variation[attribute_pa_'+ option.attributes[0].name +']:' + option.attributes[0].option + ':variation[attribute_pa_'+ option.attributes[1].name +']:' + option.attributes[1].option + ':variation[attribute_pa_'+ option.attributes[2].name +']:' + option.attributes[2].option}}">{{option.attributes[0].option | uppercase}} - {{option.attributes[1].option | uppercase}} - {{option.attributes[2].option | uppercase}} - {{(option.price | currency:values.currency:false:'1.0-0').replace('USD','')}} </ion-option>
                                        </div>
                                    </div>
                                </ion-select>
                            </ion-item>
                        </div>
                        <div *ngIf="product.attributes.length >= 2">
                            <ion-item *ngFor="let sel_option of product.attributes" class="nessary-option">
                                <ion-label> {{sel_option.name}} </ion-label>
                                    <ion-select okText="확인" cancelText="취소" [(ngModel)]="options[sel_option.position]" (ngModelChange)="chooseOption()">
                                        <div *ngFor="let option of variations">
                                            <div *ngIf="option.attributes.length == 1">
                                                <ion-option value="{{'variation_id:' + option.id + ':variation[attribute_pa_'+ option.attributes[0].name +']:' + option.attributes[0].option}}">{{option.attributes[0].option | uppercase}} - {{(option.price | currency:values.currency:false:'1.0-0').replace('USD','')}} </ion-option>
                                            </div>
                                        </div>
                                    </ion-select>
                            </ion-item>
                        </div>
                </div>
            </ion-col>
        </ion-row>
        <div *ngIf="variations?.length && selectOptionProduct?.length">
        <ion-row *ngFor="let prod of selectOptionProduct" class="option-product" >
            <ion-col>
                {{prod.name}}
                <span class="close-btn"><ion-icon name="md-close" (click)="removeItem(prod.variation_id)"></ion-icon></span>
                <ion-row>
                    <ion-col class="quantity-price">
                        {{prod.price * prod.quantity}}원
                    </ion-col>
                    <ion-col no-padding>
                        <div class="quantity-item">
                            <ion-item>
                                <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="button-color" (click)="deleteOptionQuantity(prod.variation_id)">
                                    <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline"></ion-icon>
                                </button>
                                <button ion-button item-right color="button-color" clear>{{prod.quantity}}</button>
                                <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="button-color" (click)="addOptionQuantity(prod.variation_id)">
                                            <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
                                </button>
                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        </div>
        <div *ngIf="!variations?.length && selectOptionProduct?.length">
                <ion-row *ngFor="let prod of selectOptionProduct" class="option-product" >
                        <ion-col>
                            {{prod.name}}
                            <ion-row>
                                <ion-col class="quantity-price">
                                    {{prod.price * prod.quantity}}원
                                </ion-col>
                                <ion-col no-padding>
                                    <div class="quantity-item">
                                        <ion-item>
                                            <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="button-color" (click)="deleteOptionQuantity(prod.variation_id)">
                                                <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline"></ion-icon>
                                            </button>
                                            <button ion-button item-right color="button-color" clear>{{prod.quantity}}</button>
                                            <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="button-color" (click)="addOptionQuantity(prod.variation_id)">
                                                        <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
                                            </button>
                                        </ion-item>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                </ion-row>
        </div>

    <ion-row class="total-box">
            <ion-col class="total-char">
                총금액
            </ion-col>
            <ion-col class="total-count">
                {{totalOptionPrice}}원
            </ion-col>
        </ion-row>
      </div>
      <ion-toolbar position="bottom" no-padding>
        <ion-row>
            
          <button col-3 ion-button full color="dark" text-uppercase [disabled]='disableSubmit' (click)="kakaoqna()">
            제품문의
          </button>
          
          <ion-row  col-9 no-padding>
              <ion-col col-4 *ngIf="showOption" no-padding>
                            <button ion-button full color="danger" text-uppercase [disabled]='disableSubmit' (click)="addCart(product.id)">
                        장바구니
                </button>
              </ion-col>
              <ion-col no-padding>
                <button ion-button full color="button-color" text-uppercase [disabled]='disableSubmit' (click)="buyNow(product.id)">
                    구매하기
                </button>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-toolbar>
  </ion-footer>